<a href="javascript:void(0)" data-bind="click: onToggleTimelapseEnable">
	<i data-bind="css: {'fa-regular' : !settings.settings.plugins.slatimelapse.enabled(), 'fa-solid' : settings.settings.plugins.slatimelapse.enabled()}" class="fa fa-2xl fa-camera fa-regular"></i>
</a>
