<a href="javascript:void(0)" data-bind="click: onToggleTimelapseEnable" class="pull-right">
    <i class="fa fa-toggle-off" data-bind="css: {'fa-toggle-off' : !settings.settings.plugins.slatimelapse.enabled(), 'fa-toggle-on' : settings.settings.plugins.slatimelapse.enabled()}"></i>
</a>
